html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.table {
  background-color: #00bcd4;
  margin: 0 auto;
  justify-content: space-between;
  width: 1400px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 0 10px 0;

}

.type {
  display: block;
  color: #000000;
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
}

.type::first-letter {
  text-transform: uppercase;
  font-size: 30px;
  color: #000000;
}

.amount {
  color: #000000;
  font-size: 20px;
  text-align: center;
  font-family: 'Helvetica';
  padding: 10px 0 10px 0;
}

.currency {
  color: #000000;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  padding: 10px 0 10px 0;
}

.trLine:nth-child(even) {
  background-color: #ecf2f3;
}

.trLine:nth-child(odd) {
  background-color: #fff;
}
