.titleStyle {
  color: blueviolet;
  font-size: 50 px;
  text-align: center;
  display: flex;
}

.titleDisable {
  color: red;
  justify-content: flex-start;
}

.imgStyle {
  width: 300 px;
  height: auto;
}
